.menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: fixed;
  right: 0;
  background: red;
  align-items: center;
  justify-content: center;
}


body{
  margin:0px;
  padding: 0px;
  
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
.logo img{
  width: 90px;
}
#main{

  width:100%;
  height:850px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/background.png");
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
position: fixed;
left: 0;
top: 0;
width:100%;
z-index: 1;
background-color: #0f0f0f;
}
nav ul{
display: flex;
}
.active{
  background-color: #379EC1;
  color:#000000;
  box-shadow: 5px 10px 30px rgba(0, 255, 255, 0.473);
transition: all ease 0.2s;
}
nav ul li a{
  font-family: calibri;
height:40px;
line-height: 43px;
margin: 3px;
padding: 0px 22px;
display: flex;
font-size: 0.8rem;
text-transform: uppercase;
font-weight: 500;
color:#ffffff;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.hey{
  font-family: calibri;
color:#ffffff;
font-weight: 500;
font-size: 0.9rem;
border-bottom: 2px solid #000266;
}
nav ul li a:hover{
background-color: #379EC1;
  color:#000000;
  box-shadow: 5px 10px 30px rgba(0, 255, 255, 0.473);
transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
  display:none;
}
.name{
font-family: 'Montserrat';
width: 500px;
position: absolute;
  left: 50%;
  text-align: center;
top: 50%;
transform: translate(-50%,-50%);
}
.name span{
  color: #379EC1;
  border-bottom: 2px solid #379EC1;
}
.name .details{
  color: #969696;
}
.name h1{
font-family:'Montserrat';
font-size: 46px;
margin:0px;
letter-spacing: 3px;
color:#ffffff;
}
.header-btns{
  display: flex;
  margin-top: 40px;
  margin-left: 6.8em;
}
.cv-btn{
width:110px;
height: 40px;
display: flex;
justify-content: center;
  align-items: center;
  background-color: #379EC1;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.137);
  border-radius: 10px;
color:#000266;
}
.cv-btn1{
  font-size: 14px;
width:140px;
height: 40px;
display: flex;
justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #ffffff;
  color:#ffffff;
  border-radius: 10px;
  margin-left: 20px;
}
.cv-btn:hover{
background-color: #ffffff;
  transition: all ease 0.5s;
  color: #000266;
}
.cv-btn1:hover{
background-color: #ffffff;
  transition: all ease 0.5s;
  color: #000266;
}

.arrow{
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom:0px;
  border-right: 2px solid  #379EC1;
  animation: arrow-animation ease 1.5s;

}
.arrow::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color: #379EC1 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}
@keyframes arrow-animation{
  0%{
      bottom: 70px;
      opacity: 0.2;
  }
  100%{
      bottom: 5px;
      opacity: 1;
  }
}
.f-heading h1{
  color:#FFFFFF;
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;

}
.f-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin-top: 10px;
  padding: 0px;
}
.f-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: -120px;
}
#features{
    margin-top:140px ;
width:100%;
height: 120vh;
background-color:#000000;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
}

.features-text{
  width: 45%;
  color: #fff;
  list-style: circle;
}
.features-text h2{
font-size: 2rem;
color:#379EC1;
font-weight: 400;
}
.features-text h2{
margin: 0px;
padding: 0px;
}
.features-text p{
font-size: 1.2rem;
color:#b4b4b4;

}
.features-text button{
  margin-top: 20px;
width: 140px;
height: 40px;
border-radius: 10px;
border: none;
  outline: none;
  color: #000266;
background-color:#379EC1;
}
.features-text button:hover{
background-color: #ffffff;
  transition: all ease 0.3s;
  color: #000266;
}
.features-model{
  width: 50%;
}
.features-model img{
width: 500px;
}

#services{
  margin-top: 120px;
  width:100%;
  height:100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
}

.s-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.s-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading{
  text-align: center;
  margin: 20px 0px;
}
.s-box{
  background-color: #ffffff;
  width:350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}
.b-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.s-b-img{
  width: 100%;
  height: 50%;

}
.s-b-img img{
  width:100%;
  height: 100%;

}
.s-b-text{
  width: 100%;
  height: 40%;
  background-color:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text p{
  margin: 0px;
  color:#000266a6;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-b-text p:hover{
  color:#000266;
}
.s-b-text a{
  margin-top:15px ;
}
.s-type{
  font-family: calibri;
  color:#000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;

}

#subscribe{
  background-color: #379EC1;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
  margin:10px 0px;
  margin-top: 80px;
  padding: 30px 0px;
}
#subscribe h3{
font-size:2.5rem;
margin:20px;
color: #000000;
}
.subscribe-input{
width:400px;
height:50px;
background-color:#FFFFFF;
display:flex;
justify-content: center;
border-radius: 50px;
box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.subscribe-input input{
width:100%;
background-color: transparent;
border:none;
outline: none;
text-align: center;
color:#242425;
}
.subscribe-input a{
width:200px;
height:35px;
background-color:#379EC1;
color:#000000;
display: flex;
font-size: 0.9rem;
justify-content: center;
align-items: center;
margin: auto 10px;
border-radius: 20px;
font-weight: 500;
transition: 0.4s ease-in;
}
.subscribe-input a:hover{
  background-color:#000000;
color:#379EC1;
}
@media(max-width:1190px){
#main{
  background-size: 1150px !important;
  
}
.name{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.header-btns{
  margin-left: 10em;
}

.features-model img{
  height:400px;
  }
  #services{
  height:auto;
  }
  .b-container{
  flex-wrap: wrap;
}
  .s-box{
  flex-grow: 1;
}
.s-b-img img{
  object-fit:cover;
}

}

@media(max-width:970px){
  #main{
    background-size: 970px !important;
  }
  #services{
    margin-top: -60px;
  }
.features-model{
  display: none;
}
.s-heading h1{
  font-size: 2.5rem;
  color: #379EC1;
}
.features-text h2{
  font-weight: 600;
}
.b-container{
  margin-top: 30px;
}
#subscribe h3{
  font-size: 2.5rem;
}
#features{
  margin-top: -60px;
  justify-content: center;
  padding-top: 0px;
  font-size: 2rem;
  text-align: center;
}
.f-heading{
  display: none;
}
.features-text{
  width: 90%;
}
.features-text h1{
  font-size:4rem;
  }

}


@media(max-width:600px){
  #main{
    background-size: 600px !important;
    
  }
.name{
  width:60%;
  }}
  .scroll{
      left: 42.5%;
  }
@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .logo img{
          width:70px;
      }
      .header-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#000000;
          border-bottom:4px solid #379EC1;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(158, 155, 0, 0.03);
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#379EC1;
          position: absolute;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:18px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#379EC1;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:5px;
      }
      nav .menu-icon .nav-icon:after{
          top:-5px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}
      @media(max-width:400px){
          .s-box{
              width: 100%;
              height:400px;
          }
      }
      @media(max-width:376px){
        .subscribe-input{
          width:300px;
          height:50px;
          }
          nav .menu-icon{
            position: absolute;
            margin-left: 34.5%;
        }
        }
