html {
    font-size: 1rem; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto';
}



body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.app-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

// GO SECURIS COLORS
$color1: #379EC1 ;
$color2: #000;


// GO SECURIS Menu
.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    // position: fixed;
    right: 0;
    background: #242424;
    height: 100vh;
    width: 15%;
    justify-content: space-around;
    position: sticky;
    top: 0;

    .btn:hover {
        background: white;
        color: $color1;
        border-right: $color1 solid 1rem;
    }

    img {
        width: 100%;
    }
  }


//   BOUTON
.btn {
    background: $color1;
    padding:1rem;
    color: $color2;
    border: 2px solid $color1;
    display: block;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: white;
    color: $color1;
    border: 2px solid $color1;
//     border-right: $color1 solid 1rem;
// 
}

button {
    background: $color1;
    padding:1rem;
    color: white;
    width: 100%;
    border-radius: 5px;
}

//  Go Securis Texte
h1, h2, h3, h4 {
    color: $color1;
    margin-bottom:2rem;
}

p {
    color: $color2;
    margin-bottom:1rem;
}

img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    width: 85%;
    min-height: 100vh;
    overflow: auto;
}

main>div {
    // max-width: 600px;
    padding: 2rem;
}



// GO SECURIS HOME

.home {
    background-color:gray;
    // background-image: url("../images/logo1.png");
    align-items: center;
    background-position: 0;
    background-size: cover;

    img {
        max-width: 600px;
    }
}

.home>div {
    background-color: #d1d1d1;
}

.card  {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}


// Login page

.login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
    padding: 1rem;
    }
}


.login h1 {
    width: 100%;
}

.strip {
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    flex-direction: row;
    align-items: center;
    margin: 1rem;

    a {
        padding-right: 1rem;
    }

    img {

        width: 320px;

    }
}

.hidden {
    display: none;
}


// Equipment page

ul,ol {

    list-style: none;

}

label { 
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border: #000 1px solid;
    margin: 1rem;
    border-radius:5px;
}

label:hover {
    background-color: yellow;
}

[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked {
    color: red;
    background-color: red;
    padding: 1rem;
    width: 50px;
}