{% extends 'base.html' %}

{% block content %}
    <main>
        <section class="login">
            <h1>Bonjour {{username}}</h1>
            <img src="http://localhost:5000/upload/{{user.get('id')}}" alt="img" style="width: 200px;">
            <div class="to-flex-row-full-center">
                <form action="/resume" method='POST'>
                    <div>
                        <div class="card">
                            <h2>Equipement disponible</h2>
                            <p>Veuillez cocher les equipements que vous désirez prendre</p>
                            
                            <ul>
                                {% for item in list %}
                                    {% set maxQ = item.get("maxQ") | int %}
                                    {% set actuQ = item.get("actuQ") | int %}

                                    {% if actuQ >= maxQ %}
                                            <li><label class="disabled">{{item.get("actuQ")}}/{{item.get("maxQ")}} - {{item.get("name")}} <input type="checkbox" name="{{item.get('id')}}" disabled/></label></li>
                                    {% else %}
                                            <li><label>{{item.get("actuQ")}}/{{item.get("maxQ")}} - {{item.get("name")}} <input type="checkbox" name="{{item.get('id')}}"/></label></li>
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                            
                    
                        </div>
                        {% if equipmentActual != [] %}
                            <div class="card">
                                <h2>Equipement Actuel</h2>
                                <p>Veuillez cocher les equipements que vous désirez rendre</p>
                                
                                <ul>
                                    {% for item in equipmentActual %}

                                                <li><label>{{item.get("actuQ")}}/{{item.get("maxQ")}} - {{item.get("name")}} <input type="checkbox" name="{{item.get('id')}}" checked="{{item.get('id')}}"/></label></li>
                                    
                                    {% endfor %}
                                    
                                </ul>
                                
                            </div>
                        {% endif %}
                    </div>
                    <input type="checkbox" name="{{user.get('id')}}" checked="{{user.get('id')}}" style="display: none;"/>
                    <button class="btn " type='submit'>Envoyer la demande</button>
                </form>
            </div>
            
        </section>
    </main>
{% endblock %}