{% extends 'base.html' %}

{% block content %}
  <main class="home">
    <div class="container-home">
      <img class="home-logo" src="{{ url_for('static', filename= 'images/logo2.png') }}" alt="Go Securis" />
      <div class="card">
        <h1>Welcome to Go Securi App</h1>

        <p>
          Suspendisse ac condimentum elit. Etiam id mauris at diam tincidunt sodales.
          Maecenas ac mollis magna, et lobortis diam. Etiam eu dui bibendum.
        </p>

        <a href="/login" class="btn">Login</a>

      </div>
      
    </div>
  </main>
{% endblock %}