{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="login">
            <h1>Welcome to the GO SECURIS login page.</h1>
            <div class="hidden">
            Webcam ici
            </div>
            <div class="video-footer">

                <img class="video" src="{{ url_for('video') }}" width="50%"/>
                <p> Veillez à bien rapprocher votre visage afin que notre scan soit optimal !</p>
                <a class ="btn" href="/equipements">Prendre le photo</a>
                
            </div>
            <div class="strip">
        </div>
    </main >
{% endblock %}