{% extends 'base.html' %}

{% block content %}
<main>
    <div class="login">
    <h1>Merci pour votre confiance !</h1>
    <a href="/" class="btn">Return to Home</a>
    </div>
</main>
{% endblock %}