@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

html {
    font-size: 1rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto';
}

.container{
    width: 100%;
}

.to-flex-row-full-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: #181818;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.app-wrapper {
    display: flex;
    flex-direction: row-reverse;
}



/* GO SECURIS Menu */
.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    right: 0;
    background-color: #181818;

    box-shadow: rgb(0 0 0 / 20%) 0px 20px 14px;
    height: 100vh;
    width: 15%;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.menu .btn:hover{
    background: #181818;
    color: #379EC1;
    border-right:#379EC1 solid 1rem;
}

.logo img{
    width: 100%;
}


/*  BOUTON*/
.btn {
    text-align: center;
    background: #181818;
    padding:1rem;
    color: #e7e7e7;
    border-radius: 25px;
    width: 10vw;
    display: block;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 1s;
}

.btn:hover {
    
    color: #379EC1;
    /*border-right: #379EC1 solid 1rem;*/
    box-shadow: rgba(55, 158, 193, 0.4) 0px 2px 4px, rgba(55, 158, 193, 0.3) 0px 7px 13px -3px, rgba(55, 158, 193, 0.2) 0px -3px 0px inset;
}

button {
    border: 0;
    margin: auto;
}

/* Go Securis Texte */
h1, h2, h3, h4 {
    color: #e7e7e7;
    margin-bottom:2rem;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #e7e7e7;
    margin-bottom:1rem;
}

img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

main>div {
    /*max-width: 600px;*/
    padding: 2rem;
}



/* GO SECURIS HOME */

.home {
    /* background-image: url("../images/logo1.png"); */
    align-items: center;
    background-position: 0;
    background-size: cover;

}

.home-logo{
    margin: 5%;
    /* width: 50%; */
    width: 15vw;
}

.container-home{
    text-align: center;
    width: 50%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.card  {
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}



/* Login page */

.login {
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;


}

.login h1{
    text-align: center;
}


.login h1 {
    width: 100%;
    text-align: center;
}

.video-footer{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.strip {
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    flex-direction: row;
    align-items: center;
    margin: 1rem;

}

.video{
    width: 50%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    margin: 2vw;
}

.hidden {
    display: none;
}


/* Equipment page*/

ul,ol {

    list-style: none;

}

ul{
    width: 100%;
}

form > div{
    display: flex;
    flex-flow: row wrap;
}

input[type="submit"]{
    width: 50%;
}

label { 
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border: #000 1px solid;
    margin: 1rem;
    border-radius:5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: 1s;
}

.disabled{
    opacity: 0.3;
}

.disabled:hover{
    opacity: 0.3;
    background-color: #181818;
    color: white;
    border-right:none;
    box-shadow: none;
}



label:hover {
    background-color: #181818;
    color: #379EC1;
    border-right:#379EC1 solid;
    box-shadow: rgba(55, 158, 193, 0.4) 0px 2px 4px, rgba(55, 158, 193, 0.3) 0px 7px 13px -3px, rgba(55, 158, 193, 0.2) 0px -3px 0px inset;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]:disabled {
    transform: none;
    background-color: #fff;
    opacity: 0.3;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: CanvasText;
  }

 

